.rose-top-left,
.rose-middle-right {
	position: absolute;
	z-index: 0;
	aspect-ratio: 16/9;
	object-fit: contain;
}

.rose-top-left {
	top: -15%;
	left: -10%;
	transform: rotate(-15deg);

	@media (max-width: 428px) {
		width: 350px;
		height: 370px;
		top: -15%;
		left: -10%;
	}
}

.rose-middle-right {
	bottom: -20%;
	right: -25%;
	transform: rotate(-22deg);

	@media (max-width: 428px) {
		width: 350px;
		height: 370px;
		bottom: -20%;
		right: -20%;
	}
}
