@import "./variables.scss";

.invite {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-x: hidden;

	.paper {
		filter: url(#roughpaper);
		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		left: 0;
	}

	[class$="rose_background"] {
		transform-origin: top left;

		position: absolute;
		z-index: 0;

		width: 350px;
		height: 370px;
	}

	.first_rose_background {
		transform: rotate(10deg);

		top: -8%;
		left: -20%;
	}

	.second_rose_background {
		transform-origin: center right;
		transform: rotate(50deg);

		top: 29%;
		right: -38%;
	}

	.third_rose_background {
		transform: rotate(10deg);

		top: 58%;
		left: -30%;
	}

	@media (min-width: 1080px) {
		[class$="rose_background"] {
			width: 860px;
			height: 910px;
		}

		.first_rose_background {
			top: -10%;
			left: -10%;
		}

		.second_rose_background {
			top: 27%;
			right: -10%;
		}

		.third_rose_background {
			top: 52%;
			left: -5%;
		}
	}

	.cover,
	.details,
	.rsvp {
		@include full-screen;
		@include content-center;

		z-index: 20;
	}

	.cover {
		.title,
		.subtitle,
		.date {
			text-align: center;
		}

		.title {
			font-family: "Amsterdam Four";
			color: $primary;
			font-weight: medium;
			letter-spacing: 0.2em;
			text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);

			font-size: 3rem;
			display: flex;
			flex-direction: column;
			line-height: 1.4em;
			margin-top: 60px;

			span:nth-child(2) {
				font-size: 2rem;
			}
		}

		.subtitle {
			font-family: "EB Garamond";
			color: $secondary;
			margin-top: 40px;
			font-size: 1.1rem;

			display: flex;
			flex-direction: column;

			box-sizing: border-box;
			padding: 0 20px;

			.verse {
				display: flex;
				flex-direction: column;
			}
		}

		.date {
			font-family: "EB Garamond";
			font-weight: bold;
			font-size: 1.5rem;
			color: $primary;

			margin-top: 20px;
		}

		@media (min-width: 1080px) {
			.title {
				font-size: 7rem;
				flex-direction: row;
				font-weight: normal;

				span {
					margin: 0 10px;
				}

				span:nth-child(2) {
					margin-top: 20px;
					font-size: 3rem;
				}
			}

			.subtitle {
				font-size: 1.7rem;
				margin-top: 60px;

				.verse {
					flex-direction: row;

					span {
						margin: 0 5px;
					}
				}
			}

			.date {
				font-size: 2rem;
				margin-top: 40px;
			}
		}
	}

	.details {
		position: relative;

		box-sizing: border-box;
		padding: 0 20px;

		.family-name,
		.invitation,
		.parents,
		.date_place {
			color: $primary;
			text-align: center;
			margin: 10px 0;
		}

		.family-name {
			font-family: "Amsterdam Four";
			font-size: 2rem;
			font-weight: normal;
		}

		.invitation,
		.parents {
			font-family: "EB Garamond";
			font-size: 1rem;
		}

		.parents {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-gap: 10px;
		}

		.date_place {
			@include content-center;
			flex-direction: column;
			font-weight: bold;

			.date-divider {
				border: 2px solid $primary;
				height: 0;
				width: 5rem;
				margin: 0.3rem 0;
			}

			.date {
				@include content-center;
				flex-direction: row;

				span:not(:nth-child(2)) {
					min-width: 60px;
				}

				.day {
					font-family: "Amsterdam Four";
					font-weight: bold;
					font-size: 1.5rem;
					margin: 0 0.3rem 0 0.5rem;
					line-height: 3rem;
				}
			}

			.time-place {
				@include content-center;
				flex-direction: column;
				margin: 0;
				font-size: 1.2rem;

				.place {
					span {
						margin: 0 5px;
					}
				}
			}
		}
	}

	.rsvp {
		position: relative;

		box-sizing: border-box;
		padding: 0 20px;

		.information,
		.guest-list,
		.confirmed-count {
			color: $primary;
			text-align: center;
			margin: 10px 0;
		}

		.guest-list {
			border: 1px solid rgba(151, 15, 11, 0.3);
			padding: 20px 10px;
			box-sizing: border-box;
			width: 90%;

			.guest {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 5px;

				.checkbox {
					height: 25px;
					width: 25px;
					margin-right: 10px;
					-webkit-appearance: none;
					-moz-appearance: none;
					-o-appearance: none;
					appearance: none;
					border: 1px solid $primary;
					border-radius: 4px;
					outline: none;
					transition-duration: 0.3s;
					background-color: $primary;
					cursor: pointer;

					&:checked {
						border: 1px solid #41b883;
						background-color: #41b883;
					}
				}

				.name {
					font-weight: bold;
				}
			}
		}

		.actions {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			.confirm-button {
				width: 100%;
				border: none;
				border-radius: 4px;
				background-color: $primary;
				color: white;
				padding: 5px 10px;
			}

			.cancel-button {
				border: 0.5px solid gray;
				border-radius: 4px;
				background-color: transparent;
				color: gray;
				padding: 5px 10px;
			}
		}
	}
}

.background-overlay {
	position: absolute;
	z-index: -1;
	background-color: rgba(184, 184, 184, 0.3);
	width: 90%;
	height: 90%;

	@media (min-width: 1080px) {
		width: 80%;
		height: 80%;
	}
}

.mini_rose {
	z-index: 20;
}

$base: 0.5rem;

.arrow_down {
	position: relative;
	margin-top: 20px;
}

.arrow_down_container {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.arrow_down_chevron {
	position: absolute;
	width: $base * 3.5;
	height: $base * 0.8;
	opacity: 0;
	transform: scale(0.3);
	animation: move-chevron 3s ease-out infinite;
}

.arrow_down_chevron:first-child {
	animation: move-chevron 3s ease-out 1s infinite;
}

.arrow_down_chevron:nth-child(2) {
	animation: move-chevron 3s ease-out 2s infinite;
}

.arrow_down_chevron:before,
.arrow_down_chevron:after {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	background: $primary;
}

.arrow_down_chevron:before {
	left: 0;
	transform: skewY(30deg);
}

.arrow_down_chevron:after {
	right: 0;
	width: 50%;
	transform: skewY(-30deg);
}

@keyframes move-chevron {
	25% {
		opacity: 1;
	}
	33.3% {
		opacity: 1;
		transform: translateY($base * 3.8);
	}
	66.6% {
		opacity: 1;
		transform: translateY($base * 5.2);
	}
	100% {
		opacity: 0;
		transform: translateY($base * 8) scale(0.5);
	}
}
